* {
  margin: 0;
  padding: 0;
}

main {
  text-align: center;
  width: 90%;
  margin: auto;
}

main h1 {
  margin: 2rem;
}

main .cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 4rem;
}

main .cards__item {
  position: relative;
  width: 20rem;
  background-color: #ddd;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 0.5rem black;
}

main .cards__item:hover .cards__overlay {
  height: 100%;
}

main .cards__item img {
  width: 75%;
  margin: 1rem;
  box-shadow: 1px 1px 0.5rem black;
}

main .cards__item p {
  width: 75%;
  margin: auto;
  margin-block: 1rem;
}

main .cards__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #ddd;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  height: 0px;
  transition: 0.3s ease-in 0.3s;
}

main .cards__overlay__text {
  white-space: nowrap;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__display {
  position: absolute;
  width: 50%;
  min-height: 50%;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 0.5rem black;
  left: 25%;
  top: 25%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 1024px) {
  .modal__display {
    flex-direction: column;
    top: 4%;
    width: 80%;
    left: 10%;
  }
}

.modal__display__hotels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 45%;
}

@media (max-width: 1024px) {
  .modal__display__hotels {
    width: 60%;
  }
  .modal__display__hotels h1 {
    margin-top: 1rem;
  }
}

@media (max-width: 600px) {
  .modal__display__hotels {
    width: 80%;
  }
}

.modal__display__hotels h1, .modal__display__hotels h2, .modal__display__hotels p {
  padding-block: 1rem;
  margin-left: 1rem;
}

.modal__display__hotels p {
  width: 80%;
  margin-left: 10%;
}

.modal__display__hotels li {
  list-style: none;
}

.modal__display__hotels button {
  padding: 0.5rem;
  width: 5rem;
  margin: auto;
  margin-block: 1rem;
}

.modal__display__hotels div {
  display: flex;
  justify-content: space-between;
}

.modal__display__hotels div .input_list li {
  width: 11rem;
  text-align: right;
}

@media (max-width: 600px) {
  .modal__display__hotels div .input_list li {
    width: 8rem;
  }
}

@media (max-width: 600px) {
  .modal__display__hotels div .input_list li input {
    width: 5rem;
  }
}

.modal__display__image {
  width: 45%;
  box-shadow: 1px 1px 0.5rem black;
}

@media (max-width: 1024px) {
  .modal__display__image {
    width: 50%;
    margin-bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .modal__display__image {
    width: 80%;
  }
}

.modal__exit {
  position: inherit;
  left: 25%;
  top: 25%;
  padding: 0.5rem;
  border-radius: 0.5rem 0;
  border: none;
  background-color: #fff;
}

@media (max-width: 1024px) {
  .modal__exit {
    top: 4%;
    left: 10%;
  }
}

.none {
  display: none;
}
